.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  align-items: end !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.btn-primary {
  background-color: #60549b !important;
  border-color: #60549b !important;
}

.btn-primary:focus {
  background-color: #60549b !important;
  border-color: #60549b !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-light {
  background-color: rgb(242, 244, 244);
}

.bg-primary {
  background-color: #60549b !important;
}

.bg-secondary {
  background-color: rgb(152, 153, 153);
}

.text-primary {
  color: #60549b !important;
}

.text-danger {
  color: rgb(225, 56, 56) !important;
}

.text-dark {
  color: black !important;
}

.required::before {
  content: "*";
  color: rgb(248, 45, 100) !important;
  font-size: 15px;
  margin-right: 5px;
}

.is-valid {
  border-color: #4cd15c !important;
}

.is-valid::after {
  content: "Valid Email" !important;
  color: #4cd15c !important;
  font-size: 12px;
  display: flex;
  justify-content: end;
  font-weight: 500;
}

.fs-1 {
  font-size: 12px !important;
}

.fs-2 {
  font-size: 1.4rem !important;
}

.fs-3 {
  font-size: 2.5rem !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: 1em;
}

.me-2 {
  margin-right: 2em;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: 1em;
}

.ms-2 {
  margin-left: 2em;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.mx-2 {
  margin-left: 2em;
  margin-right: 2em;
}

.mx-4px {
  margin-left: 4px;
  margin-right: 4px;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 10px !important;
}

.p-2 {
  padding: 15px !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: 1em !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.pt-1 {
  padding-top: 1em !important;
}

.pt-2 {
  padding-top: 2em !important;
}

.pt-3 {
  padding-top: 3em !important;
}

.pb-1 {
  padding-bottom: 1em !important;
}

.pb-2 {
  padding-bottom: 2em !important;
}

.pb-3 {
  padding-bottom: 3em !important;
}

.border-0 {
  border: 0 !important;
}

.border-1 {
  border: 1px solid rgb(233, 232, 232) !important;
}

.border-2 {
  border: 2px solid rgb(233, 232, 232) !important;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.bg-white {
  background-color: white !important;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 600;
}

.fw-bolder {
  font-weight: 800;
}

.btn {
  border-radius: 3px !important;
}
